/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f5f5f5;
}

h1, h2, h3 {
  color:#004080
}

a {
  color: #0066cc;
  text-decoration: none;
}